.flex-jcc {
  display: flex;
  justify-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.dropdown .dropdown-button {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .dropdown-button:hover {
  background-color: dodgerblue;
  color: black;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(36, 62, 206, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.dropdown .dropdown-link:hover {
  color: white;
  background-color: dodgerblue;
}
.dropdown .dropdown-hidden {
  display: none;
}
.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(36, 62, 206, 0.6);
}
@media (max-width: 500px) {
  .disney-logo {
    height: auto;
    width: 45%;
  }
}
.disney-logo {
  height: 50px;
  margin-left: 25px;
}
.big-container {
  background-color: white;
}
.picture-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.picture-container .disney-park {
  max-width: 80%;
  max-height: 350px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 500px) {
  .picture-container .disney-park {
    height: 200px;
    width: 100%;
  }
}
.text-container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(36, 62, 206, 0.6);
}
@media (max-width: 500px) {
  .text-container {
    max-width: 80%;
    border: 1px solid rgba(36, 62, 206, 0.6);
    text-align: center;
  }
}
.text-container .welcome-header {
  font-size: 42px;
  color: rgba(36, 62, 206, 0.6);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.text-container .welcome-text {
  color: rgba(36, 62, 206, 0.6);
  font-weight: bold;
  padding: 15px;
  font-size: 24px;
  margin-top: 25px;
  line-height: 1.5;
  font-family: 'Lora', serif;
}
@media (max-width: 500px) {
  .text-container .welcome-text {
    margin-top: 25px;
    font-size: 16px;
  }
}
.text-container .welcome-text-bottom {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .text-container .welcome-text-bottom {
    font-size: 15px;
  }
}
.main-container {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .main-container {
    width: 80%;
  }
}
.pic {
  height: auto;
  width: 100%;
}
.img-wrap {
  position: relative;
  cursor: pointer;
  height: auto;
  width: 100%;
}
@media (max-width: 500px) {
  .img-wrap {
    width: 100%;
  }
}
.pic-layer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
@media (max-width: 500px) {
  .pic-layer {
    font-size: 18px;
  }
}
.img-wrap:hover .pic-layer {
  visibility: visible;
  opacity: 1;
}
.pic-description {
  transition: 0.2s;
  transform: translateY(1em);
}
.img-wrap:hover .pic-description {
  transform: translateY(0);
}
.big-about-container {
  background-color: white;
}
.about-container {
  max-width: 65%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.about-container .disney-night {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.pic-description {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.pic-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.demo-pics {
  display: flex;
  align-content: center;
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
}
.dev-role {
  font-family: 'Montserrat', sans-serif;
  color: rgba(36, 62, 206, 0.6);
  text-align: center;
  margin-top: 5px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  height: 200px;
  border-top: 3px solid rgba(36, 62, 206, 0.6);
}
.footer-container .footer-contact {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.address-style {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
