.big-about-container {
  background-color: silver;
}

.about-container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .disney-night {
    max-width: 65%;
    max-height: 500px;
    height: auto;
    overflow: hidden;
  }
}

.pic-description {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.demo-pics {
  display: block;
  max-width:230px;
  max-height:230px;
  width: auto;
  height: auto;
}