.big-about-container {
  background-color: silver;
}

.about-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .disney-night {
    max-width: 65%;
    max-height: 500px;
    height: auto;
    overflow: hidden;
  }
}

.pic-description {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box1 {
  // height: 200px;
  max-width: 60%;
  height: auto;
  border: 3px solid black;
}

.demo-pic-1 {
  height: auto;
  max-width: 40%;
}
.demo-pic-2 {
  height: auto;
  max-width: 60%;
}
.demo-pic-3 {
  height: auto;
  max-width: 60%;
}
.demo-pic-4 {
  height: auto;
  max-width: 40%;
}
.demo-pic-5 {
  height: auto;
  max-width: 60%;
}